<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('partials/head.ejs') %>

</head>

<body>
    <%- include ('partials/coordinador.navbar.ejs') %>

        <main class="mt-auto pt-1">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 mt-5 pt-5">
                        <div class="row z-depth-3 rounded">
                            <div class="col-sm-12 bg-white rounded-right ">
                                <table class="table table-warning table-striped mt-3 me-2">
                                    <thead>
                                        <th scope="col">Titulo</th>
                                        <th scope="col">Tiempo</th>
                                        <th scope="col">Ver</th>
                                        <th scope="col">Asignar Jurados</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Labore adipisci voluptatum, corrupti molestiae repellat amet accusantium
                                                aspernatur quaerat repudiandae architecto assumenda, et maxime
                                                voluptates nihil! Eius cum beatae praesentium facere.</td>
                                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                                            <td><button class="btn">Abrir</button></td>
                                            <td><button class="btn" data-bs-toggle="modal"
                                                    data-bs-target="#asignarJurados">Asignar</button></td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Labore adipisci voluptatum, corrupti molestiae repellat amet accusantium
                                                aspernatur quaerat repudiandae architecto assumenda, et maxime
                                                voluptates nihil! Eius cum beatae praesentium facere.</td>
                                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                                            <td><button class="btn">Abrir</button></td>
                                            <td><button class="btn" data-bs-toggle="modal"
                                                    data-bs-target="#aignarJurados">Asignar</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr class="bg-primary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="asignarJurados" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Asignar Jurados</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="mb-3 row">
                                    <div class="col-sm-12">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Asignar Primer Jurado</option>
                                            <option value="1">Docente 1</option>
                                            <option value="2">Docente 2</option>
                                            <option value="3">Docente 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col-sm-12">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Asignar Segundo Jurado</option>
                                            <option value="1">Docente 1</option>
                                            <option value="2">Docente 2</option>
                                            <option value="3">Docente 3</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn text-white bg-thirdColor ms-auto ">Asignar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include ('partials/footer.ejs') %>
</body>

</html>