<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include ('partials/head.ejs') %>

</head>

<body>
  <%- include ('partials/docente.navbar.ejs') %>

    <main class="mt-auto pt-1">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 mt-5 pt-5">
            <div class="row z-depth-3 rounded">
              <div class="col-sm-8 bg-white rounded-right me-auto ms-auto">
                <h3 class="mt-3 text-center">Datos del Perfil</h3>

                <div class="row p-2">
                  <div class="col-sm-6">
                    <p class="font-weight-bold">Nombres:</p>
                    <h6 class="text-muted">Alonso Galindo</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="font-weight-bold">Apellidos:</p>
                    <h6 class="text-muted">Rosales</h6>
                  </div>
                </div>
                <hr class="bg-primary">
                <div class="row p-2">
                  <div class="col-sm-6">
                    <p class="font-weight-bold">Codigo:</p>
                    <h6 class="text-muted">123456</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="font-weight-bold">DNI:</p>
                    <h6 class="text-muted">87546314</h6>
                  </div>
                </div>
                <hr class="bg-primary">
                <div class="row p-2">
                  <div class="col-sm-6">
                    <p class="font-weight-bold">Celular:</p>
                    <h6 class=" text-muted">358964785</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="font-weight-bold">Programa:</p>
                    <h6 class="text-muted"></h6>
                  </div>
                </div>
                <hr class="bg-primary">
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include ('partials/footer.ejs') %>
</body>

</html>