<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('partials/head.ejs') %>

</head>

<body>
    <%- include ('partials/estudiante.navbar.ejs') %>

        <main class="mt-auto pt-1">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 mt-5 pt-5">
                        <div class="col row z-depth-3 rounded">
                            <div class="col-sm-11 bg-white rounded-right me-auto ms-auto">
                                <h3 class="mt-3 text-center">Herramientas</h3>
                                <hr class="bg-firstColor">
                                <h4 class="mt-3">Citas bibliográficas</h4>
                                <div class="row p-1 mb-3 ms-auto">
                                    Aqui algunas herramientas para realizar las citas bibliográficas en tu trabajo de
                                    Investigación.
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="https://vriunap.pe/vriadds/pilar/imag/herram/mendeley.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Mendeley</h5>
                                                <p class="card-text">Mendeley es un gestor bibliográfico gratuito que
                                                    combina versión web con una versión de Escritorio. También es una
                                                    red social para investigadores.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="https://vriunap.pe/vriadds/pilar/imag/herram/refworks.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">RefWorks</h5>
                                                <p class="card-text">Refworks es una aplicación que ayuda a reunir,
                                                    gestionar y compartir todo tipo de información, así como crear citas
                                                    y bibliografías.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="https://vriunap.pe/vriadds/pilar/imag/herram/endnote.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">EndNote</h5>
                                                <p class="card-text">EndNote es un paquete informático de gestión de
                                                    referencias, usado para manejar listados bibliográficos y citas al
                                                    escribir ensayos y artículos. Es desarrollado por Thomson Reuters.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bg-firstColor">
                                <h4 class="mt-3">Recursos e Información</h4>
                                <div class="row p-1 mb-3 ms-auto">
                                    Usted podrá acceder a las siguientes base de datos para documentar su proyecto.
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="https://vriunap.pe/vriadds/pilar/imag/herram/repo_unap.png"
                                                class="card-img-top bg-primary" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Repositorio UNAP</h5>
                                                <p class="card-text"> El repositorio Insitucional, nos ofrece las tesis
                                                    de la Universidad Nacional
                                                    del Altiplano,
                                                    realizadas por las 35 escuelas profesionales además de la Escuela de
                                                    Post Grado.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="https://www.utch.edu.co/portal/images/noticias/utch/noticias-biblioteca/EBSCOhost.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">EBSCO</h5>
                                                <p class="card-text"> EBSCO es una base de datos que ofrece textos
                                                    completos, índices y publicaciones periódicas y académicas que
                                                    cubren diferentes áreas de las ciencias y humanidades.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="https://vriunap.pe/vriadds/pilar/imag/herram/banner_wiley.png"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">WILEY</h5>
                                                <p class="card-text"> Es una editorial de contenido científico que
                                                    ofrece acceso a más de 4
                                                    millones de artículos de 1,500 revistas, 9,000 libros.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="https://vriunap.pe/vriadds/pilar/imag/herram/banner_ieee.JPG"
                                                class="card-img-top bg-primary" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">IEEE/IET ELECTRONIC LIBRARY (IEL)</h5>
                                                <p class="card-text">Proporciona acceso a más de 4 millones de
                                                    documentos en texto completo que
                                                    representan el 30% de la literatura mundial referente a ingeniería
                                                    eléctrica, electrónica,
                                                    computación y mecatrónica.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="https://vriunap.pe/vriadds/pilar/imag/herram/banner_sage.JPG"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">SAGE PREMIER 2017</h5>
                                                <p class="card-text">Es una colección multidisciplinaria con más de 820
                                                    revistas académicas
                                                    revisadas por pares. Brinda acceso en línea a más de 700 mil
                                                    artículos a texto completo. El 65%
                                                    del contenido está clasificado en el 2014 Journal Citation Reports
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="https://vriunap.pe/vriadds/pilar/imag/herram/iop-logo.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">IOPscience</h5>
                                                <p class="card-text">IOPscience es un servicio en línea para el
                                                    contenido de revistas publicado
                                                    por IOP Publishing que es una subsidiaria del Institute of Physics
                                                    de Reino Unido. ofrece una
                                                    gama de journals, libros electrónicos, revistas, actas de
                                                    conferencias y sitios web para la
                                                    comunidad científica..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="bg-firstColor">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include ('partials/footer.ejs') %>
</body>

</html>