<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Hola soy el front</h1>
  <h2 id="nombre">nombre</h2>
  <h2 id="email">email</h2>
  <h2 id="xd">adfa</h2>
  <h2>frontend ejs</h2>
  <script>
    const nombre = document.getElementById('nombre');
    const email = document.getElementById('email'); 
    const xd = document.getElementById('xd');
    (async ()=> {
      const response = await fetch('http://localhost:3000/api/v1/users/1');
      const data = await response.json();
      console.log(data);
      nombre.innerHTML = data.name;
      email.innerHTML = data.email;
      xd.innerHTML = data.role;
    })();
  </script>
</body>
</html>
